<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Bingo One page parallax responsive HTML Template ">
  <meta name="author" content="">
  <title>中信银行惠缴付平台</title>

<!-- Mobile Specific Meta
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
  
  <!-- CSS
  ================================================== -->
  <!-- Themefisher Icon font --控件样式>
  <link rel="stylesheet" href="plugins/themefisher-font.v-2/style.css">
  <! -- bootstrap.min css -->
  <link rel="stylesheet" href="plugins/bootstrap/dist/css/bootstrap.min.css">
  <!-- Slick Carousel -->
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="css/style.css">

</head>

<body id="body">
<!--
Fixed Navigation
==================================== -->

<section class="header  navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-md">
                    <a class="navbar-brand" href="index.html">
                        <img src="images/logo1.png" alt="" width="150px">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="tf-ion-android-menu"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">首页 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="lifepay.html">生活缴费</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="edupay.html">教育培训</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="insurancepay.html">保险医疗</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="user.html">我的</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="login.html">登录</a>
                            </li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>
    </div>
</section>

 <!--
Welcome Slider
==================================== -->
<section class="hero-area">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="video-player">
					<img class="img-fluid rounded" src="images/slider/slider-bg-2.jpg" alt="">
				</div>
			</div>
			<div class="col-md-6">
				<div class="block">
					<h2>惠缴付</h2>
					<p>中信银行全国缴费支付范围包括水电气、通讯、教育考试、充值、民生保障等多个缴费项目，基本覆盖了与百姓日常生活相关的水、电、燃气、通讯等各种生活缴费，客户可通过网点、网上银行、手机银行、自助终端等渠道进行便捷的缴费支付。</p>
					<ul class="list-inline">
						<li class="list-inline-item">
							<a data-scroll href="#services" class="btn btn-main">在线缴付</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>	

<!--
Start About Section
==================================== -->

<section class="services section-xs"  id="services">
    <div class="section-xs">
	<div class="container">
		<div class="row">
			<!-- Single Service Item -->
			<div class="col-md-4 col-sm-6 col-xs-12" >
				<div class="service-block color-bg text-center">
					<div class="service-icon text-center">
						<img src="images/icons/life.png" alt="">
					</div>
                    <ul style="list-style-type:none">
                        <li>
                            <a href="lifepay.html" style="color:#787d7d;font-size:20">生活缴费</a>
                        </li>
                    </ul>
				</div>
			</div>
			<!-- End Single Service Item -->
			
			<!-- Single Service Item -->
			<div class="col-md-4 col-sm-6 col-xs-12" >
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<img src="images/icons/edu.png" alt="">
					</div>
                    <ul style="list-style-type:none">
                        <li>
                            <a href="edupay.html" style="color:#787d7d;font-size:20">教育培训</a>
                        </li>
                        <ul>
                </div>
			</div>
			<!-- End Single Service Item -->
			
			<!-- Single Service Item -->
			<div class="col-md-4 col-sm-6 col-xs-12 mx-auto"  >
				<div class="service-block color-bg text-center">
					<div class="service-icon text-center">
						<img src="images/icons/soc.png" alt="">
					</div>
                    <ul style="list-style-type:none">
                    <li>
                        <a href="insurancepay.html" style="color:#787d7d;font-size:20">保险医疗</a>
                    </li>
                    </ul>
				</div>
			</div>
            <!-- Single Service Item -->
            <!-- End Single Service Item -->
            <!-- Single Service Item -->
            <!-- End Single Service Item -->
		</div> 		<!-- End row -->
	</div>   	<!-- End container -->
    </div>
</section>   <!-- End section -->	

<footer id="footer" class="bg-one">
  <div class="top-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
          <h3>联系我们</h3>
          <ul>
            <li><a href="#">营业网点</a></li>
            <li><a href="#">信用卡中心：4008895558</a></li>
            <li><a href="#">客户中心：95558</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-sm-3 col-md-3 col-lg-3">
          <h3>帮助中心</h3>
          <ul>
            <li><a href="#">在线服务：个人/公司/信用卡</a></li>
            <li><a href="#">常见问题</a></li>
            <li><a href="#">网站地图</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-sm-3 col-md-3 col-lg-3">
          <h3>关于中信</h3>
          <ul>
            <li><a href="#">投资者关系</a></li>
            <li><a href="#">公司治理</a></li>
            <li><a href="#">中信新闻</a></li>
            <li><a href="#">人才招聘</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->
          <div class="col-sm-3 col-md-3 col-lg-3">
              <h3>分行专区</h3>
              <ul>
                  <li><a href="#">分行机构</a></li>
                  <li><a href="#">友情链接</a></li>
              </ul>
          </div>
        <!-- End of .col-sm-3 -->
      </div>
    </div> <!-- end container -->
  </div>
  <div class="footer-bottom">
    <h5>中信银行股份有限公司版权所有 Copyright © CITIC Bank All rights reserved</h5> <h6>京公网安备11010502020433号 京ICP备16038101号</h6>
  </div>
</footer> <!-- end footer -->


    <!-- end Footer Area
    ========================================== -->


    
    <!-- 
    Essential Scripts
    =====================================-->
    
    <!-- Main jQuery -->
    <script src="plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.7 -->
    <script src="plugins/bootstrap/dist/js/popper.min.js"></script>
    <script src="plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    <script src="plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Smooth Scroll js -->
    <script src="plugins/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
   
    
    <!-- Custom js -->
    <script src="js/script.js"></script>

  </body>
  </html>
