<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <! -- bootstrap.min css -->
    <link rel="stylesheet" href="plugins/bootstrap/dist/css/bootstrap.min.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <link href="layui/css/layui.css" rel="stylesheet"/>
</head>
<body class="layui-layout-body">
<section class="header  navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-md">
                    <a class="navbar-brand" href="index.html">
                        <img src="images/logo1.png" alt="" width="150px">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="tf-ion-android-menu"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">首页 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pricing.html">生活缴费</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="faq.html">教育培训</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">社会保障</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="login.html">登录</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="signup.html">注册</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>
<div style="width: 70%; margin: 0 auto">
    <button type="button" class="layui-btn layui-btn-lg" style="margin:20px 0 10px 89%; background: #D70010;">缴纳费用</button>
    <table class="layui-hide" id="test"></table>
    <p style="color: #D70010; float: right; font-size: 20px">费用总额：0</p>
</div>
<script src="layui/layui.js"></script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">助学贷款申请</a>
</script>
<script>
    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#test'
            ,url:'payfee/getPayfee?studentId=106144062017040601'
            , method: 'get'
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['exports', 'print']
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , parseData:function(res) {
                console.log(res);
                return {
                    "code": 0,
                    "msg": "",
                    "count": res.length,
                    "data":res
                }
            }
            ,cols: [[
                {type: 'checkbox', fixed: 'left'}
                ,{field:'payfee_date', title: '学年', sort: true}
                ,{field:'username', title: '收费名称', templet: function(d) {
                        return "学费";
                }}
                ,{field:'needPay', title: '应收金额'}
                ,{field:'alreadyPay', title: '已付金额', templet: function(d) {
                        if (d.alreadyPay == null)
                            return 0;
                        return d.alreadyPay;
                }}
                ,{field:'experience', title: '未付金额', templet: function(d) {
                        if (d.alreadyPay == null)
                            return d.needPay;
                        return d.needPay - d.alreadyPay;
                }}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
            ]]
        });
    });
</script>
</body>
</html>