<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cncb.bank_payment.dao.AccountDao">

    <insert id="insertAccount" parameterType="com.cncb.bank_payment.entity.Account">
        INSERT INTO Account(
        <trim suffixOverrides=",">
            account_id,
            account_tel,
            user_id,
            account_password,
            identity
        </trim>
        )
        VALUES (
        <trim suffixOverrides=",">
            #{account_id},
            #{account_tel},
            #{user_id},
            #{account_password},
            #{identity}
        </trim>
        )
    </insert>

</mapper>