<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cncb.bank_payment.dao.PayfeeInfoDao">
    <resultMap id="PayfeeMap" type="com.cncb.bank_payment.entity.PayfeeInfo">
        <id column="payfee_id" property="payfee_id" jdbcType="VARCHAR" />
        <result column="user_id" property="user_id" jdbcType="VARCHAR" />
        <result column="payfee" property="payfee" jdbcType="FLOAT" />
        <result column="payfee_date" property="payfee_date" jdbcType="TIMESTAMP" />
        <result column="student_id" property="student_id" jdbcType="VARCHAR" />
    </resultMap>
    <resultMap id="CheckRecordMap" type="com.cncb.bank_payment.entity.CheckRecord">
        <id column="check_id" property="payfee_id" jdbcType="VARCHAR" />
        <result column="record_date" property="record_date" jdbcType="TIMESTAMP" />
        <result column="card_id" property="payfee" jdbcType="VARCHAR" />
        <result column="bank_flow" property="payfee_date" jdbcType="VARCHAR" />
        <result column="user_id" property="student_id" jdbcType="VARCHAR" />
        <result column="payfee" property="payfee" jdbcType="FLOAT" />
        <result column="check_status" property="check_status" jdbcType="VARCHAR" />
    </resultMap>
    <resultMap id="CardMap" type="com.cncb.bank_payment.entity.Card">
        <id column="card_id" property="card_id" jdbcType="VARCHAR" />
        <result column="card_no" property="card_no" jdbcType="VARCHAR" />
        <result column="card_tel" property="card_tel" jdbcType="VARCHAR" />
        <result column="card_name" property="card_name" jdbcType="VARCHAR" />
        <result column="idenity" property="idenity" jdbcType="VARCHAR" />
        <result column="user_id" property="user_id" jdbcType="VARCHAR" />
        <result column="card_m" property="card_m" jdbcType="FLOAT" />
        <result column="card_password" property="card_password" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getPayfeeFromStudentId" resultType="java.util.HashMap">
        SELECT
            payfee_info.student_id,
            payfee_info.payfee_date,
            payfee_info.payfee_id,
            payfee_info.payfee needPay,
            check_record.payfee alreadyPay,
	        loan.id isLoan
        FROM
            payfee_info
        LEFT JOIN check_record ON check_record.payfee_id = payfee_info.payfee_id AND check_record.check_status = "success"
        LEFT JOIN loan ON loan.payfee_id = payfee_info.payfee_id
        WHERE
            payfee_info.student_id = #{studentId}
    </select>

    <select id="getCard" resultMap="CardMap">
        SELECT
            card.card_id,
            card.card_no,
            card.card_tel,
            card.card_name,
            card.idenity,
            card.user_id,
            card.card_m,
            card.card_password
        FROM
            card
        WHERE
            card.user_id = #{accountId}
    </select>

    <select id="getCardFromId" resultMap="CardMap">
        SELECT
            card.card_id,
            card.card_no,
            card.card_tel,
            card.card_name,
            card.idenity,
            card.user_id,
            card.card_m,
            card.card_password
        FROM
            card
        WHERE
            card.card_no = #{cardNo}
    </select>

    <insert id="addCheckRecord">
        INSERT INTO check_record
        VALUES
	    (#{check_id, jdbcType=VARCHAR},
	    #{record_date, jdbcType=TIMESTAMP},
	    #{card_id, jdbcType=VARCHAR},
	    #{bank_flow, jdbcType=VARCHAR},
	    #{user_id, jdbcType=VARCHAR},
	    #{payfee, jdbcType=FLOAT},
	    #{check_status, jdbcType=VARCHAR}
	</insert>
</mapper>