<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cncb.bank_payment.dao.UserDao">

    <select id="findPassword" resultType="com.cncb.bank_payment.entity.User">
        SELECT * FROM User WHERE user_tel = #{userTel}
    </select>

    <insert id="insertUser" parameterType="com.cncb.bank_payment.entity.User">
        INSERT INTO User(
        <trim suffixOverrides=",">
            user_id,
            user_name,
            user_tel,
            idenity,
            user_paw
        </trim>
        )
        VALUES (
        <trim suffixOverrides=",">
            #{user_id},
            #{user_name},
            #{user_tel},
            #{idenity},
            #{user_paw}
        </trim>
        )
    </insert>

</mapper>